{% extends "web/ditingpc1.0/layout.html" %}
{% block style %}
<style type="text/css">

	html,body{width: 100%;}
	body{padding-bottom: 50px;}
	.x_section_mid h2{font-size: 20px;text-align: center;height: 50px;line-height: 50px;color: #000;margin-bottom: 10px;}
	.privacy {padding: 10px 20px;border-radius: 10px;}
	.privacy > div {font-size: 14px;padding: 10px 0;text-indent: 2em;}
	.privacy > h3 {font-size: 18px;font-weight: bold;color: #333;}
</style>
{% endblock %}
{% block main %}
<div style="min-width:1000px;width: 100%;height: 110px; border-bottom: 1px solid #fafafa;">
	<a href="/" style="display: block;width: 350px;float: left;"><img src="/static/images/applogo0.png" style="width: 50px;float: left; margin: 30px 5px;"/><span style="color:#00d2ce;font-size: 30px;float: left; line-height:110px;">谛听机器人管理平台</span><div style="clear:both;"></div></a><span style="display: block;float: right;line-height: 110px;margin-right: 20px;">我已有账号，<a href="/login" style="color: #00c4c2;">点击登录</a></span>

	<h1 style="position: relative;left: -9999px;">谛听机器人</h1>
</div>
<section style="min-width: 1000px;margin: 0px auto;">
	<div style="width: 100%;margin: 10px;">
		<dl class="x_section_mid">
			<dt>
			<h2>谛听机器人用户协议</h2>
			</dt>
			<dd class="privacy">
				<div>
					北京谛听机器人科技有限公司（以下简称谛听机器人）依据本协议提供机器人开放平台服务，本协议在使用者和谛听机器人间具有法律效力。使用者一经注册或使用本协议下任何服务即视为对本协议条款的理解和接受，使用者违反本协议时谛听机器人有权按其违反情况限制或停止向使用者提供服务，并有权追究使用者的相关责任。
				</div>
				<div>
					本协议可由谛听机器人随时更新，使用者可在谛听机器人开放平台网站<a href="http://www.ditingai.com/" style="color: #00c4c2;">www.ditingai.com</a>查阅最新版协议内容。如在谛听机器人修改协议后，使用者不接受修改后的协议，请立即停止使用谛听机器人提供的相关服务；如使用者继续使用，将视为已接受修改后的协议。
				</div>

				<h3>授权内容</h3>
				<div>
					本协议的授权产品是谛听机器人开放平台<a href="http://www.ditingai.com/" style="color: #00c4c2;">www.ditingai.com</a>，是指采用了谛听机器人拥有自主知识产权的机器人开放平台，其主要提供应用于微博、微信、web、APP等平台的机器人接口，谛听机器人自身产品中的问答机器人等。
				</div>
				<h3>双方的权利义务</h3>
				<div>
					1、 使用者承诺确保谛听机器人在其产品中正常使用，并对因此产生的结果负责。不应当利用机器人从事违法活动。使用者对机器人使用当中产生损害第三方利益的行为负全责。
				</div>
				<div>
					2、为保证谛听机器人的合法使用，开发者集成谛听机器人的产品上市前，需取得谛听机器人书面授权。未经书面授权的账号谛听机器人有权停止服务。
				</div>
				<div>
					3、使用者申请谛听机器人开放平台机器人时，所填写的联系方式等信息和提交审核的信息等都是应当准确有效的。谛听机器人不保护虚假注册用户的任何权利，有限保护未认证用户的部分权利；不对未认证用户提供机器人转让、更名等服务。
				</div>
				<div>
					4、使用者在所有涉及谛听机器人开放平台的介绍中（应包括但不限于软件帮助文档、产品使用说明书、产品包装、宣传彩页、网站、广告），需指明谛听机器人开放平台由“谛听机器人”提供，在涉及问答机器人介绍界面中，需注明“问答机器人技术由谛听机器人提供”。
				</div>
				<div>
					5、使用者在未经谛听机器人书面同意前，不得对谛听机器人开放平台中技术软件或文件或其任何部分进行单独销售、转让、出租、转授权；并不得从事反汇编、反编辑以及分解、分析、修改以上软件的行为。
				</div>

				<h3>知识产权</h3>
				<div>
					1、谛听机器人保证，本协议中谛听机器人开放平台所涉及的知识产权全部归谛听机器人所有，为谛听机器人开发、设计，并无抄袭、仿冒、节录或改编他人相同或相似功能软件或其它侵害他人著作权。
				</div>
				<div>
					2、用户或者谛听机器人专有的和非公开的知识，方法以及其它信息，在开发过程中为另一方获知或者得到，知识产权仍归原有一方所有。
				</div>
				<div>
					3、谛听机器人保证，本协议中所涉及的合作标的的知识产权不会侵犯任何第三方的合法权益。
				</div>
				<h3>保密条款</h3>
				<div>
					1、谛听机器人采取一切措施严格保护使用者提交的资料，在事先没有得到使用者书面同意时不得向任何第三方以任何形式泄漏任何资料。资料应包括但不限于双方提供的一切设计开发有关的信息、结果，以及协议联系期间双方或双方代表与对方交流的对方以前未知的信息。
				</div>

				<div>
					2、谛听机器人不允许任何人在未经使用者同意的情况利用谛听机器人提供的服务以任何手段编辑、出售、传播使用者的资料。一经发现使用者实施上述行为，谛听机器人有权立即终止与该使用者的服务协议，终止为其提供任何机器人开放平台服务，并有权追究其法律责任。
				</div>

				<h3>协议终止</h3>
				<div>
					1、如遇下列情况之一，经一方发出书面通知后即可提前终止协议：
				</div>
				<div>
					• 任何一方严重违反本协议的实质性义务，经守约方书面通知（书面形式包括通知函、传真、以及邮件等方式）后，在规定期限内未能采取有效的补救措施以纠正违约行为的；
				</div>
				<div>
					• 除适用破产法所禁止的情形外，如果任何一方出于债权人的利益，已被指定接收人或资产受让人、或破产或无力偿付到期债务或因其他事由丧失履约能力；
				</div>
				<div>
					本协议无论因何种原因终止后，本协议保密、知识产权、抗辩、违约责任及其他依其性质应继续有效的条款应继续有效，并不损害受损方寻求其它救济的权利。
				</div>
				<div>
					2、使用者应按照谛听机器人的标准规定使用机器人开放平台，如使用者出现违反授权协议条约的行为，则谛听机器人有权停止向使用者提供语义解析服务。
				</div>
				<h3>免责条款</h3>
				<div>
					鉴于机器人开放平台服务需要网络支撑，谛听机器人有权对提供网路服务的平台或相关设备进行部分或全部的维护、切换，如因此类情况造成的网络服务在一定时间内出现中断，谛听机器人无需通知使用者，也无需承担任何责任。
				</div>
				<h3>其它条款</h3>
				<div>
					1、谛听机器人对本协议条款拥有解释权。
				</div>
				<div>
					2、执行本协议所发生的以及与本协议有关的一切争议，双方友好协商解决，若协商不成，双方同意提交谛听机器人所在地人民法院诉讼解决。
				</div>

			</dd>
		</dl>
	</div>
</section>
{% endblock %}