{% extends "web/ditingpc1.0/success_layout.html" %}
{% block head %}
<style type="text/css">
    table.imagetable {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border: 1px #999999;
        border-collapse: collapse;
        width: 1000px;
    }

    table.imagetable th {
        /*background: #b5cfd2 url(/static/images/cell-blue.jpg);*/
        /*border: 1px solid #999999;*/
        padding: 8px;
        text-align: right;
    }

    table.imagetable td {
        /*background: #dcddc0 url(/static/images/cell-grey.jpg);*/
        /*border: 1px solid #999999;*/
        padding: 8px;
    }

    .btn0_0{
        border: none;
        background: #00c4c2;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        padding: 8px 22px;
        float: left;
    }
    #btn0_all{
        background: #1daf23;
        margin-left: 70px;
    }
    #btn0_all:hover{
        background: #50cc55;
    }
   #sceneBtn {
        margin-left: 59px;width: 79px; cursor: pointer; height: 30px; border-radius: 5px;color: #fff; background: #00c4c7;border: 0;
    }
    #sceneBtn:hover,#btn0_0:hover{
        background: #8aC4FF;
    }
    input[type="text"]{
        height: 30px;
        width: 100%;
        border: 0;
        line-height: 20px;
        border-bottom: 1px solid #fafafa;
        text-indent: 1em;
    }
</style>
{% endblock %}
{% block main %}
<div class="mains" style="padding:10px;background: #fff;">
    <h3 style="line-height: 71px;font-size: 14px;border-bottom: 1px solid #fafafa;"><img src="/static/images/diting1.0/pc/icon_YYsub.png" style="width: 30px;margin-top:20px;float:left;background: #fff;"/>&nbsp;&nbsp;应用提交</h3>

    <table class="imagetable">
        <tbody>
        <tr>
            <th style="width: 135px;">开发商名称：</th>
            <td style="width: 310px;"><input id="fwsName" placeholder="此项必填！" maxlength="20" type="text" value=""/></td>
            <th style="width: 155px;">应用名称：</th>
            <td style="width: 310px;"><input id="fwName" placeholder="此项必填！" maxlength="15" type="text" value=""/></td>
        </tr>
        <tr>
            <th>联系电话：</th>
            <td><input id="telephone" placeholder="此项必填！" maxlength="11" type="text" value=""/></td>
            <th>联系邮箱：</th>
            <td><input id="email" type="text" value="" maxlength="32"/></td>
        </tr>
        <tr>
            <th>联系地址：</th>
            <td colspan="3"><input id="findPlace"   type="text" value="" /></td>
        </tr>

        <tr>
            <th>场景设置：</th>
            <td><input id="scene" placeholder="此项必填！" maxlength="20" type="text" value="" /></td>
            <td><input id="sceneBtn" type="button" value="计算" onclick="countScene()"/></td>
            <td><input id="countScene" placeholder="这里填写要计算场景的话哦！" type="text" value="" /></td>
        </tr>

        <tr>
            <th>功能描述：</th>
            <td colspan="3"><input type="text" placeholder="此项必填！" maxlength="240" name="" required="required" title="" id="fwDepict" /></td>

        </tr>
        <tr>
            <th>关键词：</th>
            <td colspan="3"><input type="text" placeholder="此项非必填，每个关键词以“，”分隔。" maxlength="240" name="" required="required" title="" id="keywords" /></td>

        </tr>
        <tr>
            <th>API名称：</th>
            <td style="width: 220px;"><input id="APIName" placeholder="此项必填！" maxlength="20" type="text" value="" /></td>
            <th>版本号：</th>
            <td><input id="version" type="text" value=""  /></td>
        </tr>
        <tr>
            <th>API访问链接：</th>
            <td colspan="3"><input id="APILink" type="text" value="" placeholder="此项必填！"  /></td>

        </tr>
        <tr>
            <th>http请求方式：</th>
            <td colspan="3">
                <!--<input type="radio" name="ral" value="GET" />GET-->
                <input type="radio" name="ral" checked="checked" value="POST" style="margin-left: 10px"/>POST
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div style="margin: 0 400px;width: 125px;">
        <input id="btn0_0" class="btn0_0" type="button" title="用户应用提交" value="用户应用提交" onclick="test0()">
        <!--<input id="btn0_all" class="btn0_0" type="button" title="公共应用提交" value="公共应用提交" onclick="test0All()">-->
        <div style="clear: both;"></div>
    </div>
<br/>
    <p style="margin-left: 270px">注：请将必填信息填写完全，不然无法进行用户应用提交操作。</p>
</div>
<div style="display: none">
    <input type="text" readonly id="adminAgree"  value=""/>
</div>
{% endblock %}
{% block script %}
<script>
    function test0(){
        if( $('#fwsName').val()!="" && $('#telephone').val()!="" && $('#fwName').val()!="" && $('#scene').val()!="" && $('#fwDepict').val()!="" && $('#APIName').val()!="" && $('#APILink').val()!=""){
            layer.confirm('请确认信息填写正确，以免给您带来不便。', {
                btn: ['继续提交','我再看看'] //按钮
            }, function(){
                test();
            }, function(){

            });
        }else {
            layer.msg('请将必填信息填写完整！');
        }
    }


    function countScene(){ //计算场景
        var ques = $('#countScene').val();
        var editscene = {
            question: ques
        };
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: '/api/knowledge/scene',
            data: JSON.stringify(editscene)
        }).done(function (data) {
            var data = JSON.parse(data);
            $('#scene').val(data.scene);
        }).fail(function (data) {
            console.log(data);
        });
    }

    function test(){
        var api={}
        api.providerName = $('#fwsName').val()

        api.mobile = $('#telephone').val()
        api.email = $('#email').val()
        api.address = $('#findPlace').val()
        api.serverName = $('#fwName').val()

        api.scene = $('#scene').val()
        api.description = $('#fwDepict').val()
        api.name = $('#APIName').val()

        api.keywords = $('#keywords').val()
        api.url = $('#APILink').val()
        api.version = $('#version').val()
        api.method = "POST"


        var result={
            apiPersonalStore : api
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: '/api/apis/personal/save',
            data: JSON.stringify(result)
        }).done(function (data) {
            layer.msg(data.message, {icon: 6});
        }).fail(function (data) {
            console.log(data);
            var message = JSON.parse(data.responseText).message;
            layer.msg(message, {icon: 5})
        });
    }

    function testAll00(){

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: '/api/apis/save',
            data: JSON.stringify(result)
        }).done(function (data) {
            layer.msg(data.message, {icon: 6});
        }).fail(function (data) {
            console.log(data);
            var message = JSON.parse(data.responseText).message;
            layer.msg(message, {icon: 5})
        });
    }
</script>
{% endblock %}