{% extends "web/ditingpc1.0/success_layout.html" %}
{% block head %}
<script type="text/javascript" src="/static/js/diting1.0/pc/invalid.js{{ _suffix_ }}"></script>
<link rel="stylesheet" href="/static/css/diting1.0/pc/quesK-style.css{{ _suffix_ }}"/>
<style type="text/css">
    #invalid>tbody>tr:hover{
        background: #fafafa
    }
    #invalid {
        font-size: 14px;
        min-width: 1000px;width: 100%;
    }
    #invalid th{
        background: #fff;
        height: 60px;
        border-bottom: 1px solid #fafafa;
        border-top: 1px solid #fafafa;
        text-align: center;

    }
    #invalid td{
        text-align: center;font-size: 12px;max-height: 50px;overflow: hidden;
        border-right:1px solid #fff;
        word-break: break-all;
    }

    #invalid tr{
        height:40px;
    }

    #shopss{
        margin: 20px auto;
        width: 1000px;
    }
    #alldeletes{
        border:0;width: 80px;height: 30px;background: #00C5C0;text-align: center;line-height: 30px;color: #fff;border-radius: 3px;font-size: 16px;
        margin-right: 10px;
    }
    #alldeletes:hover{
        background: #8aC4FF;
    }
    .writeBtn{
        border: none;background: #fff;font-size: 16px;color: #69a4a2;width: 55px;line-height: 28px;
    }
    #shopss{margin: 5px auto;width:1000px;}
    input[type=checkbox]{
        width: 18px;
        height: 18px;
    }
</style>
{% endblock %}

{% block main %}
<!--左侧菜单栏-->

<!--==右侧内容区==============-->
<div class="mains">
    <div style="padding:0 20px;background: #fff;">
        <h3 style="line-height: 71px;font-size: 14px;border-bottom: 1px solid #fafafa;"><img src="/static/images/diting1.0/pc/icon_noQ.png" style="width: 30px;margin-top:20px;float:left;background: #fff;"/>&nbsp;&nbsp;未知问题</h3>

        <form id="form1" name="form1" method="post" action="">
            <div style="padding: 20px;">
						<span style="float: left;">开始日期:<input  style="width: 120px;border: 1px solid #fafafa;height: 28px;outline:none;" class=" date-picker" type="text" id="startdate" name="startdate" readonly="readonly" value="">
						结束日期 :<input  style="width: 120px;border: 1px solid #fafafa;height: 28px;outline:none;"  class=" date-picker" type="text" id="enddate" name="enddate" readonly="readonly" value=""> <input type="button" value="搜索" class="writeBtn" onclick="invalidSearch()"/></span>
                <input title="删除选中" value="删除选中" id="alldeletes" type="button" name="alldeletes" />
            </div>

            <div style="display: none;">
                <input type="text" id="pageNo" value=""/>
            </div>
            <table  border="0" cellpadding="0" cellspacing="0" id="invalid">

            </table>
            <div id="shopss">
                <div id="red" class="pager red" >
                    <div class="btn disabled">首页</div>
                    <div class="btn disabled">上一页</div>
                    <ul id="pages">
                        <li>
                            <a id="1" class="red normal active" href="javascript:void(0)">1</a>
                        </li>
                        <li>
                            <a id="2" class="red normal" href="javascript:void(0)">2</a>
                        </li>
                        <li>
                            <a id="3" class="red normal" href="javascript:void(0)">3</a>
                        </li>
                        <li>
                            <a id="4" class="red normal" href="javascript:void(0)">4</a>
                        </li>
                    </ul>
                    <div class="btn">下一页</div>
                    <div class="btn">尾页</div>
                    <div class="short"><input type="text"><input type="button" value="跳转" class="btn"></div><span><b></b></span><span>-</span><span><b></b></span><span>总计</span><span><b></b>条</span></div>
            </div>
        </form>
    </div>
</div>
<div id="tanc"></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    window.onload=function () {
        csh_Inva(); //初始化
        //回车键搜索
        $("#invalid-search-input").keydown(function entersearch_invalid(e){
            e = e||event;
            if(e.keyCode == 13) {
                invalidSearch()
            }
            return;
        })
        //日期框
        $('.date-picker').datepicker({autoclose: true,todayHighlight: true});
        $('input[name=enddate]').change(
                function() {
                    var startDate = $("#startdate").val();
                    var date1 = new Date(startDate);
                    startDate=date1.getTime()

                    var endDate = $("#enddate").val();
                    var date2 = new Date(endDate);
                    endDate=date2.getTime()


                    if(endDate<startDate && endDate!=""){
                        document.getElementById("enddate").value = "";
                        layer.msg("开始日期大于结束日期，请您选择日期时小于结束日期");
                    }
                });
        $('input[name=startdate]').change(function() {

            var startDate = $("#startdate").val();
            var date1 = new Date(startDate);
            startDate=date1.getTime()

            var endDate = $("#enddate").val();
            var date2 = new Date(endDate);
            endDate=date2.getTime()

            if(endDate==""){
                return true;
            }
            if(startDate>endDate){
                document.getElementById("startdate").value = "";
                layer.msg("开始日期大于结束日期，请您选择日期时小于结束日期");
            }
        });
    }


</script>

{% endblock %}