
.tit_table{
	width: 100%;
	background: white;
    margin-top: 10px;
}
.tit_table td{
	background: #EEF3FA;
	text-align: center;
	padding:4px 0;
}
.tit0{
	width: 28px;
}
.tit_ans{
	width: 46px;
	max-width: 46px;
    text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
}
.changjing{
	width: 156px;
    max-width: 156px;
    text-align: center;
    word-wrap: break-word;
}
.tit_adr{
    width: 400px;
    max-width: 400px;
    text-align: center;
    word-wrap: break-word;
}
.tit_time{
	width: 80px;
}
.appControl{
    width: 20px;
    height: 20px;
    border: none;
    background: url(/static/images/admin2.0/shanchu00.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}
.lookOver{
	color: #00C4C2;
	cursor: pointer;
}
.mainTable{
	position: relative;
	min-height: 400px;
	font-size: 12px;
}
.footPage{
	width: 100%;
	position: absolute;
	top: 100%;
	background: white;
	height: 42px;
}
.page{
    height: 40px;
	float: left;
	margin-top: 2px;
}

.text_link{
	width: 40px;
    margin-top: 10px;
	height: 18px;
	float: right;
}
#link_page{
	float: right;
	margin-top: 10px;
}
#pageCount{
	display: inline-block;
    height: 40px;
    line-height: 40px;
    color: red;
}
.pageCountW{
	width: 80px;
	float: left;
}

