/*==write---juning=====================================================*/
html,body,ul,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,menu,nav,header,footer,article{ margin:0; padding:0;}
body{font-size:0.12rem;background: #f8f8f8;overflow-x: hidden;font-family: "Microsoft YaHei" ! important;}
a{text-decoration:none;color:#646464;outline: none;}
a:hover{text-decoration:none;}
img{display:block;border: 0px none;}
ul,li{list-style:none;outline: none;}
input{outline:none;}
.cleardiv{clear: both;}
a:focus {outline: none;}
audio {
    width: 100%;
}
/*移动端home页*/
#logo {
    margin: auto;
    width: 3.11rem;
    margin-bottom: 0.9rem;
}
#logo img{
    width:100%;
}
.adv{
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 900;
}
.header1{
    width: 6.4rem;
    height: 0.88rem;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.88rem;
    color: #e7f6f6;
    background: #08bec2;
}
#NavDiv input[type=button]:hover{
    background: #018180;
}
.phone_nav1{
    background: #08bec2;
    min-width: 3rem;
    line-height: 0.77rem;
    margin: 0.21rem auto 0.42rem;
    color: #ffffff;
    border-radius: 0.1rem;
    border: 0;
    font-size: 0.28rem;
}

.phpne_header{
    height: 0.8rem;font-size: 0.3rem;line-height: 0.8rem;text-align: center;
}

.phone_nav2{
    display: block;
    border: 0;
    border-bottom: 1px solid #000;
    width: 1.9rem;
    font-size: 0.28rem;
    float: left;
}
.phone_nav22{
    display: block;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 1.6rem;
    font-size: 0.28rem;
    float: left;
}
.phone_robotSet_ul li{
     background: #fff;
     margin-bottom: 3px;
     padding: 0.16rem 0.2rem;
     font-size: 0.24rem;
     color: #282828;
     font-weight: 900;
 }
.phone_robotSet_ul li input[type=text]{
    border: 0;
    height: 0.4rem;
    width: 4rem;
    font-size: 0.22rem;
}
.phone_mySelf_ul li{
    margin-bottom: 3px;
    padding: 0.16rem 0.2rem;
    font-size: 0.24rem;
    color: #282828;
    border-bottom: 1px solid #ccc;
}
.phone_mySelf_ul li input[type=text],.phone_mySelf_ul li input[type=password]{
    border: 0;
    height: 0.4rem;
    width: 4rem;
    font-size: 0.22rem;
    background: none;
}
.phone_saveRob{
    width: 3.4rem;
    margin-top: 1rem;
    background: #08bec2;
    line-height: 0.7rem;
    border: 0;
    border-radius: 0.07rem;
    color: #fff;
    font-size: 0.28rem;
    font-weight: 900;
}
/*=====弹窗样式==========================================================*/


body .demo-class .layui-layer-title {
    background: #4898D5;
    color: #fff;
    border: none;
}

body .demo-class .layui-layer-btn {
    border-top: 1px solid #E9E7E7
}

body .demo-class .layui-layer-btn a {
    background: #4898D5;
}

body .demo-class .layui-layer-btn .layui-layer-btn1 {
    background: #999;
}

body .demo-class {
    height: 3rem;
}

body .layer-anim {
    width: 4.5rem;
}
body .demo-class2 .layui-layer-title {
    background: #4898D5;
    color: #fff;
    border: none;
}
body .demo-class2 {
    height: 4.5rem;
    margin: 0 auto;
}

body .demo-class2.layer-anim {
    width: 6rem;
    height: 3.5rem;
}
div,span,p,tr,td{
    word-break: break-all;
}
/*个人中心-站内信样式*/
#station_M li{
    padding: 0.08rem;
    background: #fff;
    margin-bottom: 3px;
    line-height: 0.3rem;
    font-size: 0.2rem;
}
.stationMessageMoreStyle{
    height: 7rem;
    background: #f2f2f2;
    overflow-y: auto;
    position: fixed;
    top: 8%;
    left: 8%;
    border-radius: 10px;
    padding: 0.2rem;
    width: 79%;
}
.allBiao2{
    display: none;
}
/*答案图片大小*/
.content li img.answerImg{
    height: inherit;
    width: inherit;
    max-width: 2.9rem;
    max-height: 2rem;
    border-radius: 0;
}
.bigImg0{
    display: block;
    max-width: 6rem;
    max-height: 8rem;
    margin: 1rem auto;
}

/*拜年关注*/
.YearGZDiv{
    border-radius: 50%;
    width:1.1rem;
    height: 1.1rem;
    float: left;
    position: relative;
    top:-0.4rem;
}
.YearGZDiv p{
    line-height: 1.1rem;
    text-align: center;
    color: blue;
    font-size: 0.24rem;

}
/*账号头像*/
#headImg{
    float: right;
    width: 0.9rem;
    margin-top: -0.31rem;
    height: 0.9rem;
}
/*头像剪裁*/
