<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% block head %}{% endblock %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
        <link rel="stylesheet" href="/static/css/antusheng1.0/pc/login.css">
		<script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="/static/js/antusheng1.0/pc/atsLogin.js{{ _suffix_ }}"></script>
        {% block style %}{% endblock %}
	</head>
	<body>
	    {% block content %}{% endblock %}
    </body>
</html>
