{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>谛听举办“劲爆八月•春晚机器人任性送”活动_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="谛听,机器人,举办,“,劲爆八月,•,春晚,任性,">
	<meta name="description" content="2016年8月9日00:00-8月31日24:00 期间，谛听机器人举办8月活动 劲爆八月春晚机器人任性送 ，详情如下： 一、活动内容： 1、对活动期间新增有效问答第一名，奖励2016春晚伴舞Alpha机器人">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>谛听举办“劲爆八月•春晚机器人任性送”活动</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-08-05</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->

        	<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;"><span><span style="font-family: tahoma,geneva,sans-serif;"><span>2016年8月9日00:00-8月31日24:00</span></span>期间，谛听机器人举办8月活动“<strong>劲爆八月·春晚机器人任性送</strong>”，详情如下：<br>
一、活动内容：</span><br>
1、对活动期间新增有效问答第一名，奖励2016春晚伴舞Alpha机器人1台<br>
<img alt="" src="/static/images/new_img/new10_1.jpg" style="width: 540px;"><br>
2、从活动期间新增有效问答50句以上的报名用户中随机抽选10名用户，赠送遥控智能平衡机器人一台<br>
<img alt="" src="/static/images/new_img/new10_2.png" style="width: 512px;"><br>
<br>
二、参与方式：<br>
1、登录平台www.ditingai.com完成注册</span><br>
<span style="font-family: tahoma,geneva,sans-serif;">2、分享本次活动内容至朋友圈并截图</span><br>
<span style="font-family: tahoma,geneva,sans-serif;">3、发送截图和注册手机号给谛听机器人订阅号（ditingrobo），即为报名成功</span><br>
<span style="color:#ff0000;">温馨提示：本次活动前期注册的老用户也可参与哦！</span><br>
<br>
<span style="font-family: tahoma,geneva,sans-serif;">三、活动说明：</span><br>
1、获奖名单将于活动结束后的3个工作日内公布；若排名出现并列情况，以系统自动生成的达标记录时间先后来判定最终获奖用户<br>
2、所有实物奖品均于正规渠道采购，由于报销原因，不能提供发票，敬请谅解<br>
3、奖品将以邮寄形式发放，中奖用户需在中奖名单公布后的7个工作日内向平台客服提供地址，正常情况下，用户最迟不超过次月月底收到奖品。若用户未在规定时间内与平台取得联系，视为自动放弃获奖权利<br>
4、对于采用非正常手段恶意刷奖行为，谛听机器人有权取消其参与活动及中奖资格，并保留追究其相关法律责任的权力<br>
本活动最终解释权归谛听机器人所有</span><br>

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new11">呼吁｜把机器人的工作还给机器人！</a> </span> 上一篇：<a href="/new9">头条｜围观谛听出品的机器人大咖Show</a>  </div>

					<!--文章结束-->
				</div>
{% endblock %}