{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>关于谛听机器人正式收费的通知_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="谛听,机器人,官方,报价,">
	<meta name="description" content="为持续给大家提供更多的优质服务，谛听机器人语义理解开放平台将于2016年12月1日起正式收费，新老用户均可享有50次对话的免费额度，超出部分按照以下收费标准计费，为避免影响大">
{% endblock %}

{% block article %}
				<h1>关于谛听机器人正式收费的通知</h1>
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-12-01</span> <span>原文作者：谛听机器人</span></p>
				<div class="article-content">
					<span class="span">为持续给大家提供更多的优质服务，谛听机器人语义理解开放平台将于2016年12月1日起正式收费，新老用户均累计享有50次的对话免费额度，超出部分按照以下收费标准计费，为避免影响大家的使用体验，请提前做好具体规划。</span><br>
					<img alt="" src="/static/images/new_img/new14_001.jpg" style="width: 644px;"/><br>

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：没有了 </span> 上一篇：<a href="/new11">呼吁｜把机器人的工作还给机器人！</a>  </div>
				</div>
{% endblock %}