{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>“壕气年中奖•红包享不停”7月活动发奖公告_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="壕气年中奖,红包,享,不停,7月,活动,">
	<meta name="description" content="尊敬的谛听机器人用户： 您好！ 7月壕气年中奖红包享不停活动自上线以来，受到广大用户的热烈欢迎和积极参与，平台对用户在活动期间新增有效问答进行奖励。现将统计结果公布如">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>“壕气年中奖•红包享不停”7月活动发奖公告</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-08-01</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->

					尊敬的“谛听机器人”用户：<br>
					您好！<br>
					7月“壕气年中奖•红包享不停”活动自上线以来，受到广大用户的热烈欢迎和积极参与，平台对用户在活动期间新增有效问答进行奖励。现将统计结果公布如下：&nbsp;<br>
					一、用户在活动期间，完成新增有效问答300句，即可获得10元话费奖励。<br>
					<div style="clear: both; text-align: center;">
						<img alt="" src="/static/images/new_img/new8_2.png" style="width: 328px;"></div>
					说明：<br>
					1、因话费奖励人数较多，在此仅作部分展示；<br>
					2、话费将于2016年8月3日前发放，如有疑问可联系官方客服微信号（dtrobo）进行查询。<br>
					&nbsp;<br>
					二、活动期间，对全体用户的有效问答进行排名奖励，前十名依次获得现金奖励。<br>
					<div style="clear: both; text-align: center;">
						<img alt="" src="/static/images/new_img/new8_1.png" style="width: 582px;"></div>
					说明：<br>
					1、谛听机器人官方客服将在2016年8月3日前对获奖用户进行电话回访，确认打款账户信息；<br>
					2、若在客服回访工作结束时，仍无法与相关用户取得联系或者用户拒不提供收款账户，则视为该用户自愿放弃该奖励，其获奖资格予以取消。<br>
					&nbsp;<br>
					本活动最终解释权归北京谛听机器人科技有限公司所有。<br>
					感谢您对谛听机器人平台的关注与支持，谛听机器人团队将继续努力，为您提供更优质的服务。

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new9">头条｜围观谛听出品的机器人大咖Show</a> </span> 上一篇：<a href="/new7">谛听机器人在7•24上海松江机器人投融资路演大赛</a>  </div>
					<!--文章结束-->
				</div>
{% endblock %}