{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>热烈庆祝谛听机器人荣膺中国人工智能学会企业_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="热烈,庆祝,谛听,机器人,荣膺,中国,人工智能,">
	<meta name="description" content="国际市场上：法国市场调研公司Yole预测了机器人细分行业未来的市场规模，到2021年全球总体市场规模将会达到460亿美元。 国内市场上：2016年四月份，工信部、国家发改委、财政部等">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>热烈庆祝谛听机器人荣膺中国人工智能学会企业</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-07-12</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->
					<div class="jsCon">
						<p class="js">
		<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;margin-left: 28px;">国际市场上：法国市场调研公司Yole预测了机器人细分行业未来的市场规模，到2021年全球总体市场规模将会达到460亿美元。<br>
		<br>
		国内市场上：2016年四月份，工信部、国家发改委、财政部等三部委联合印发了《机器人产业发展规划》，更为“十三五”期间我国机器人产业发展描绘出了清晰的蓝图。政策扶持力度的加大，伴随着人口红利消失、产业结构调整等因素影响，为整个机器人行业注入了一针强心剂，我国的机器人产业逐渐进入了高速发展态势。<br>
		<br>
		<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">综上所述，智能技术在学术和产业上都取得了快速的发展，智能产业已经成为最有朝气的经济增长点，并通过全面渗透和推动其他传统经济的新发展，改变人们的生产、生活方式。</span></span>在近期各大公司的开发者活动上，智能机器人成为了机器人产业的重要主题。微软Build和Facebook的F8开发者大会都专注于这种面向企业和品牌的新的互动形式，人工智能正日渐火爆。<br>
		<br>
		为了更好地引导和推动我国人工智能的研究及应用，北京谛听机器人科技有限公司荣膺加入中国人工智能学会。<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">据悉，中国人工智能学会(Chinese Association for Artificial Intelligence，CAAI)成立于1981年，是经国家民政部正式注册的我国智能科学技术领域唯一的国家级学会，专注于智能科学技术的发展与推广，推动我国智能技术、产业的融合与繁荣发展。</span></span></span></span></p>
						<p class="js" style="text-align: center;">
							<img alt="" src="/static/images/new_img/new5_1.png" style="width: 640px;"></p>
					</div>

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new6">谛听机器人举办“壕气年中奖·红包享不停”活动</a> </span> 上一篇：<a href="/new1">谛听科技：致力于人机交互的流畅化</a>  </div>
					<!--文章结束-->
				</div>
{% endblock %}