{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>新一代语义理解技术问世啦！_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="新一代,语义,理解,技术,问世,">
	<meta name="description" content="语义技术的出现，特别是语义技术和语音技术的结合为移动互联网应用提供了一种全新的交互方式。同时公有语义服务的推出大大降低了移动开发者使用语义技术的门槛。">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>新一代语义理解技术问世啦！</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-07-12</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->
        	 <span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">语义技术的出现，特别是语义技术和语音技术的结合为移动互联网应用提供了一种全新的交互方式。同时公有语义服务的推出大大降低了移动开发者使用语义技术的门槛。移动开发者可以抓住这个机会，在交互方式上进行新的尝试和突破，快人一步，也就意味着更快的成功。<br>
&nbsp;<br>
那什么是语义？ 语义就是自然语言文本的涵义。对计算机来说，就是当计算机遇到这个文本输入的时候，应该进行的回答或响应。例如，当用户问“北京明天什么天气”，计算机能够理解这句话的意图是问天气信息，且城市是北京，时间是明天，从而执行的操作是从特定数据源中查询到北京明天的天气信息并呈现给用户。<br>
&nbsp;<br>
语义理解让计算机听懂用户说了什么，并进一步回答用户的问题或与用户对话。语义技术可以让搜索引擎通过推理获得答案，已经被业界公认为是搜索的未来，也同时是人机交互的未来。语义技术的重要性已经在工业界得到了广泛的认可。<br>
&nbsp;<br>
现在已经有很多公司在做语义理解技术。在刚开始的时候，基本上所有公司都是采用基于统计学的算法来处理句子，这样的技术仅仅是在算文字相似的概率，处理的是文字而非语义，这样的处理应用在人机交互上的结果常常会是答非所问，导致用户体验比较差。随着深度学习算法技术的成熟，这些公司结合深度学习算法技术形成了基于统计学的深度学习算法技术的语义理解，这样通过不断的训练、建立模型，提高了交互上的回答准确率。不过这个新技术仍然处理的是文字而非语义。<br>
&nbsp;<br>
北京谛听机器人科技有限公司创始人通过十余年的摸索、实验、探究，研发出了基于语言学的句法分析算法，有效地解决了人机交互自然流畅的问题，使机器更加理解人类。目前，团队正在加紧研发语义理解开放平台，整个平台上线预计在今年6月份上线，服务更多的企业用户及终端用户，尽请期待。</span></span><br>
					<br>
					<div style="text-align: center;">
						<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;"><img alt="" src="/static/images/new_img/new4_1.jpg" style="width: 500px; height: 300px;" data-bd-imgshare-binded="1">&nbsp;</span></span><br>
						&nbsp;</div>
<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">对普通用户来说，语义技术会给我们的日常生活带来什么新的体验呢？<br>
&nbsp;<br>
最为常见的方式是语义技术和语音技术的结合，它创造了一种更为自然和智能的交互方式。以今年11月1日“去哪儿”推出的新版移动客户端为例，它包含了一个语音搜索的新功能，用户可以直接用自然语音来查询机票酒店，不需要通过文字输入或下拉选择等交互方式来输入查询获取信息，确实很方便。这是最近语义技术在移动互联网应用中一个非常有代表性的尝试。<br>
&nbsp;<br>
语义理解和语音技术结合，也将改变人们生活的方方面面，简便生活，从此开始。</span></span><br>
					<br>

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new3">谛听机器人:人工智能将迎来语义理解新时代</a> </span> 上一篇：没有了  </div>
					<!--文章结束-->
				</div>
{% endblock %}