{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>谛听机器人:人工智能将迎来语义理解新时代_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="谛听,机器人,人工,智,能将,迎来,语义,理解,">
	<meta name="description" content="2016年2月27日，北京 谛听机器人 科技有限公司创始人彭军辉先生，在元创帮创业服务平台举办的服务机器人产业内容建设高峰研讨会上，发布了谛听公司对于未来中文服务型机器人产业">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>谛听机器人:人工智能将迎来语义理解新时代</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-07-12</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->
        	<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">2016年2月27日，北京<span style="font-family: tahoma,geneva,sans-serif;">谛听机器人</span>科技有限公司创始人彭军辉先生，在“元创帮”创业服务平台举办的“服务机器人产业内容建设高峰研讨会”上，发布了谛听公司对于未来中文服务型机器人产业内容建设的最新研究方向和研究成果。<br>
<br>
<img alt="" src="/static/images/new_img/new3_1.jpg" style="width: 600px;"></span></span><br>
					<br>
					<span style="font-family: tahoma,geneva,sans-serif;"><span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;"><span style="font-family: tahoma,geneva,sans-serif;">谛听机器人</span></span>彭军辉先生介绍，该项被命名为“<span style="font-family: tahoma,geneva,sans-serif;">谛听机器人</span>语义理解开放平台”的研究成果，打破了传统人工智能在语言交互方面反射式的应答方式，成功地通过独创的中文语义理解算法，让计算机可以准确理解语言环境，进行上下文处理、口语处理、省略处理。该平台可用于构建客服机器人系统、智能硬件和机器人的对话系统建设，能让人机对话的过程变得更加自然流畅;另外该平台还可以接入类似幼儿教育、听广播、订机票等外部服务，功能可以无限扩展。该平台建成后，将会使客服机器人系统、智能硬件和机器人的可用性和实际价值大大增强。</span></span><br>
					<br>
<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;"><img alt="" src="/static/images/new_img/new3_2.jpg" style="width: 600px;"><br>
<br>
高峰研讨会上，众多来自全国各地的国内智能机器人研发机构负责人和技术总监、产品总监对谛听公司的“<span style="font-family: tahoma,geneva,sans-serif;">谛听机器人</span>语义理解开放平台”产生了浓厚的兴趣，并就相关技术支持与市场应用方向展开了多层次、多方向的热烈研讨和论证。其中包括奇虎360、科大讯飞、捷通华声、四维图新等多家业界知名企业均表示出对该平台的强烈兴趣。北京众德迪克科技、西安爱宝说、西安豆芽科技(机器人)、蛋壳机器人天津有限公司等现场初步达成和该平台的合作意向。<br>
<br>
<img alt="" src="/static/images/new_img/new3_3.jpg" style="width: 600px;"   ><br>
<br>
据悉，北京<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">谛听机器人</span></span>科技有限公司目前已经正式入驻“元创帮”创业服务平台，并通过平台对接获得了数百万元人民币的天使轮投资。<br>
<br>
<img alt="" src="/static/images/new_img/new3_4.jpg" style="width: 600px;"   ><br>
<br>
“元创帮”创投合伙人付立伟先生介绍:“元创帮以‘中国元创，我来帮忙’为宗旨，专注支持来自中国本土的原创、智造创业团队，通过创业商学院、极客实验室和创投俱乐部三个组成板块，为创业者搭建学习、交流、人才、技术、资金等方面的服务平台，为投资人和机构建立一套接地气的风控机制、投资方法和循环收益生态体系。”<br>
<br>
付总表示:“目前元创帮根据<span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">谛听机器人</span></span>的产品研发进程，已经开始为他们准备3个月后的下一轮融资规划，并与投资人们一起期待一匹有可能颠覆人工智能产业的黑马耀世而出。</span></span>
					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new2">服务机器人发展迅猛，语义和逻辑能力成重点</a> </span> 上一篇：<a href="/new4">新一代语义理解技术问世啦！</a>  </div>
					<!--文章结束-->
				</div>
{% endblock %}