{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>呼吁｜把机器人的工作还给机器人！_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="机器人,工作">
	<meta name="description" content="2026年，你坐在全智能导航的汽车里喝着咖啡，从连接着智能家居系统APP的汽车屏幕上可以看到，在智能机器人的陪伴下孩子们在家里笑的很开心。 街边的商店用全自动制造机烤出新鲜出">
{% endblock %}

{% block article %}
				<h1>呼吁｜把机器人的工作还给机器人！</h1>
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-09-23</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">
					2026年，你坐在全智能导航的汽车里喝着咖啡，从连接着智能家居系统APP的汽车屏幕上可以看到，在智能机器人的陪伴下孩子们在家里笑的很开心。<br>
					&nbsp;<br>
					街边的商店用全自动制造机烤出新鲜出炉的披萨，正在用无人机配送。<br>
					&nbsp;<br>
					超市里到处都是在替主人采购、全程自助取物的机器人。结账很快，只需在出口处对自助收银机器人进行扫码即可，很少有排队的机会。超市的补货也都是全程由机器人来完成。<br>
					&nbsp;<br>
					这就是未来的世界，机器人帮助人类拥有了前所未有的便捷、舒适生活。<br>
					&nbsp;<br>
					而当下人们往往偏向机器人终将取代人类的负面舆论，这通常出于对机器人取代人类工作的恐惧情绪，然而，人们通常忽略了机器人技术的本质是为了帮助人类拥有更好的生活，而非成为食物链的一员与人类优胜劣汰。<br>
					<img alt="" src="/static/images/new_img/new11_1.jpg" style="width: 640px;"><br>
					机器人永远不可能变得跟人类完全一模一样，机器人永远是机器人，做着简单乏味的事情，按照人类的命令行事，改变的只是机器人处理事情的能力更强，做的事情更加技巧。像客服工作、车载等各类导航、陪伴老人与孩子这样的事情就应该是机器人的本职工作，人类应当从这些高度重复、数据繁多、规则简单客观的事物中解脱出来，去做更高逻辑、更复杂的事情。<br>
					&nbsp;<br>
					人的需求永远是动态弹性的，而机器人的技能则永远需要人类的教导才能不断升级。简而言之，机器人将在生活的各个方面成为人类的好帮手，而机器人的成长永远需要人类。<br>
					&nbsp;<br>
					当然，我们必须承认，科技导致生产力的提高一定会伴随失业。随着机器人越来越多、越来越高效率的从事人们过去做的大量工作，受到冲击的传统行业的就业势必会进行大规模洗牌。越没有技术含量的工作，越容易被取代，自古以来皆如此。毕竟，人类对科技孜孜不倦的追求目的之一就是为了提升生产力，而研究机器人目的之一就是为了提升自动化水平、降低人工干预。这目的在某种程度上和就业率是相冲突的。<br>
					&nbsp;<br>
					但社会对人类劳工的需求将会长期存在，因为人类基本特性中的许多因素（如：创造力、判断力、批判性思维等）都很难通过程序来完成，社会上很多工作仍然需要大量数量的人类劳工来主导。<br>
					&nbsp;<br>
					今后会有大量的机器人走出实验室，进入我们的日常生活。人们完全不必对机器人时代的到来感到惊慌失措，毕竟机器人只是机器而已，他们需要按照人类的逻辑才能工作。聪明的人类知道，把机器人力所能及的事情交还给他们，自己去做真正喜欢的、更有难度的事情。<br>

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：没有了
						<!--<a href="/new14">关于谛听机器人正式收费的通知</a> -->
					</span> 上一篇：<a href="/new10">谛听举办“劲爆八月•春晚机器人任性送”活动</a>  </div>





				</div>
{% endblock %}