<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<meta charset="UTF-8">
	<title>行业资讯_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="谛听,科技,致力于,人机交互,流畅化,用户,">
	<meta name="description" content="用户：你是个机器人对吧? 机器人：是啊!我是机器人怎么了? 用户：这样啊! 机器人：你瞧不起机器人吗? 上面这段简单但非常有趣的对话来自于用户和一个机器人，如果是人类之间进行这样的对话，我们不会觉得惊奇">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="stylesheet" href="/static/css/news_style.css{{ _suffix_ }}" />
    <script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/static/plugs/layer-v2.4/layer/layer.js"></script> <!--弹框插件-->
	<script type="text/javascript">
		document.onscroll = function(){
			console.log($(document).scrollTop())
			var bottom=$("#footer").offset().top-$(".newArticleRight").outerHeight();
			if($(document).scrollTop()>237){$(".newArticleRight").addClass("detail-fixed");}else{$(".newArticleRight").removeClass("detail-fixed")};
			if($(document).scrollTop()>bottom){$(".newArticleRight").addClass("detail-bottom");}else{$(".newArticleRight").removeClass("detail-bottom")};
		};
window.onload = function(){


		//有偿信息入口弹窗
//		$('.MoneyReg').click(function (){
//			layer.confirm('您还不是会员', {
//				btn: ['加入会员', '关闭'] //按钮
//			}, function () {
//				window.location.href = "/registerMoney";
//
//			}, function () {
//
//			});
//		})
}
	</script>
</head>
<body>
<!--页首-->
<div class="new_container">
	<div class="naver">
		<div class="new_logo"><a href="/" title="谛听机器人|北京谛听机器人科技有限公司"><img src="/static/images/logo3.png" alt="谛听机器人|北京谛听机器人科技有限公司" /></a></div>
		<div class="topbanner"><a href="/login" target="_blank"><img src="/static/images/new_img/topbanner.jpg" alt="谛听机器人|北京谛听机器人科技有限公司"/></a></div>
		<div class="telCompany"><img src="/static/images/new_img/tel.jpg"></div>
		<div style="clear: both;"></div>
	</div>
</div>
<div style="width: 100%;background:#000002;">
	<div style="margin:0 auto;width: 1000px;height: 214px;"> <img style="width: 100%;height: 100%;" src="/static/images/new_img/services.jpg">
	</div>
</div>
<div style="width: 100%;background: #3AA1EC;">
	<div style="width: 800px;margin: 0 auto;">
		<img style="width: 100%;" src="/static/images/new_img/news-1.jpg"/>
	</div>
</div>

<!--文章部分-->
<div class="container">
	<h2 align="center" style="font: inherit;color: #00a0ea;font-size: 40px;margin-bottom: 5px;">行业资讯</h2>
	<h5 align="center" style="font-size: 18px;color: #333;font: inherit;text-transform: uppercase;margin-top: 0px;">· information &amp; share ·</h5>
	<br>
	<ul class="news">
		<!--<li class="unopacity"><img src="/static/images/new_img/new14_001.jpg" width="280" height="210" alt="关于谛听机器人正式收费的通知"> <strong><a href="/new14" title="关于谛听机器人正式收费的通知">关于谛听机器人正式收费的通知</a></strong>-->
			<!--<p> 为持续给大家提供更多的优质服务，谛听机器人语义理解开放平台将于2016年12月1日起正式收费，新老用户均可享有50次对话的免费额...</p>-->
		<!--</li>-->
		<li class="unopacity"><img src="/static/images/new_img/new13_0.JPG" width="280" height="210" alt="问答知识库建设说明"> <strong><a href="/new13" title="问答知识库建设说明">问答知识库建设说明</a></strong>
			<p> 本文主要讲述谛听机器人知识库维护建设...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new12_0.png" width="280" height="210" alt="谛听机器人操作指南"> <strong><a href="/new12" title="谛听机器人操作指南">谛听机器人操作指南</a></strong>
			<p> 一、注册：登录 www.ditingai.com 注册，如下图所示。 二、启用机器人服务 启用 Web 机器人： 登录 http://www.ditingai.com/main/index ，点击页...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new11_1.jpg" width="280" height="210" alt="呼吁｜把机器人的工作还给机器人！"> <strong><a href="/new11" title="呼吁｜把机器人的工作还给机器人！">呼吁｜把机器人的工作还给机器人！</a></strong>
			<p> 2026年，你坐在全智能导航的汽车里喝着咖啡，从连接着智能家居系统APP的汽车屏幕上可以看到，在智能机器人的陪伴下孩子们在家里...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new10_0.jpg" width="280" height="210" alt="谛听举办“劲爆八月•春晚机器人任性送”活动"> <strong><a href="/new10" title="谛听举办“劲爆八月•春晚机器人任性送”活动">谛听举办“劲爆八月•春晚机器人任性送”活动</a></strong>
			<p> 2016年8月9日00:00-8月31日24:00 期间，谛听机器人举办8月活动 劲爆八月春晚机器人任性送 ，详情如下： 一、活动内容： 1、对活动期间...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new9_0.jpg" width="280" height="210" alt="头条｜围观谛听出品的机器人大咖Show"> <strong><a href="/new9" title="头条｜围观谛听出品的机器人大咖Show">头条｜围观谛听出品的机器人大咖Show</a></strong>
			<p> 自谛听机器人上线以来，受到广大用户的大力支持！今天就来给大家推荐几家由谛听出品的机器人大咖~ 1、谛听机器人服务号（ di...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new8_1.png" width="280" height="210" alt="“壕气年中奖•红包享不停”7月活动发奖公告"> <strong><a href="/new8" title="“壕气年中奖•红包享不停”7月活动发奖公告">“壕气年中奖•红包享不停”7月活动发奖公告</a></strong>
			<p> 尊敬的谛听机器人用户： 您好！ 7月壕气年中奖红包享不停活动自上线以来，受到广大用户的热烈欢迎和积极参与，平台对用户在活...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new7_1.jpg" width="280" height="210" alt="谛听机器人在7•24上海松江机器人投融资路演大赛"> <strong><a href="/new7" title="谛听机器人在7•24上海松江机器人投融资路演大赛">谛听机器人在7•24上海松江机器人投融资路演大赛</a></strong>
			<p> 7月24日，在创始人彭军辉先生的带领下， 谛听机器人 参加了由上海松江区政府主办的青春正飞扬，创业在松江青年创业路演第二季...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new6_1.png" width="280" height="210" alt="谛听机器人举办“壕气年中奖·红包享不停”活动"> <strong><a href="/new6" title="谛听机器人举办“壕气年中奖·红包享不停”活动">谛听机器人举办“壕气年中奖·红包享不停”活动</a></strong>
			<p> 2016年7月13日00:00-7月31日24:00期间，谛听机器人举办7月活动壕气年中奖红包享不停，详情如下： 活动内容 【Activity Content】 1、凡用户...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new5_1.png" width="280" height="210" alt="热烈庆祝谛听机器人荣膺中国人工智能学会企业"> <strong><a href="/new5" title="热烈庆祝谛听机器人荣膺中国人工智能学会企业">热烈庆祝谛听机器人荣膺中国人工智能学会企业</a></strong>
			<p> 国际市场上：法国市场调研公司Yole预测了机器人细分行业未来的市场规模，到2021年全球总体市场规模将会达到460亿美元。 国内市场...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new4_1.jpg" width="280" height="210" alt="新一代语义理解技术问世啦！"> <strong><a href="/new4" title="新一代语义理解技术问世啦！">新一代语义理解技术问世啦！</a></strong>
			<p> 语义技术的出现，特别是语义技术和语音技术的结合为移动互联网应用提供了一种全新的交互方式。同时公有语义服务的推出大大降...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new3_1.jpg" width="280" height="210" alt="谛听机器人:人工智能将迎来语义理解新时代"> <strong><a href="/new3" title="谛听机器人:人工智能将迎来语义理解新时代">谛听机器人:人工智能将迎来语义理解新时代</a></strong>
			<p> 2016年2月27日，北京 谛听机器人 科技有限公司创始人彭军辉先生，在元创帮创业服务平台举办的服务机器人产业内容建设高峰研讨会...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new2_1.jpg" width="280" height="210" alt="服务机器人发展迅猛，语义和逻辑能力成重点"> <strong><a href="/new2" title="服务机器人发展迅猛，语义和逻辑能力成重点">服务机器人发展迅猛，语义和逻辑能力成重点</a></strong>
			<p> 1910年，捷克斯洛伐克作家卡雷尔在他的科幻作品中第一次提到机器人这一词语，是世界首次。第二年，西屋电器就制造出了世界上第...</p>
		</li>
		<li class="unopacity"><img src="/static/images/new_img/new1_1.jpg" width="280" height="210" alt="谛听科技：致力于人机交互的流畅化"> <strong><a href="/new1" title="谛听科技：致力于人机交互的流畅化">谛听科技：致力于人机交互的流畅化</a></strong>
			<p> 用户：你是个机器人对吧? 机器人：是啊!我是机器人怎么了? 用户：这样啊! 机器人：你瞧不起机器人吗? 上面这段简单但非常有趣的...</p>
		</li>
	</ul>

	<div id="pages" class="page"><span class="pageinfo">共 <strong>1</strong>页<strong>13</strong>条记录</span>
	</div>
</div>
<footer id="footer">
	<div>
		<div>
			<ul>
				<li><a href="/agreement" target="_blank">用户协议</a></li>
				<li><a href="/cooperative_partner" target="_blank">合作伙伴</a></li>
				<li><a href="/about" target="_blank">关于我们</a></li>
				<li><a href="/contact_us" target="_blank">联系我们</a></li>
				<li class="wxgzh"><a style="position: relative;">微信订阅号</a>
					<!--底部二维码-->
					<div class="WXerweima">
						<img src="/static/images/diting1.0/pc/dingyuehaoEVM4-19.jpg" />
					</div>
				</li>
				<li class="wxgzh" style="border-left: 1px solid #999;">
					<a style="position: relative;">客服微信号
						<div class="WXerweima">
							<img src="/static/images/diting1.0/pc/kefuEVM4-19.jpg" />
						</div>
					</a>
				</li>
			</ul>
		</div>
		<p> Copyright ©2016 谛听机器人 All Rights Reserved 京ICP备16026036号-1<br/>增值电信业务经营许可证：京B2-20170408</p>

	</div>
</footer>





</body>

</html>
