{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>谛听机器人操作指南_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="谛听,机器人,操作指南,一,、,注册,登录,">
	<meta name="description" content="一、注册：登录 www.ditingai.com 注册，如下图所示。 二、启用机器人服务 启用 Web 机器人： 登录 http://www.ditingai.com/home/index ，点击页面右侧的【我的机器人】即可进入web机器人聊天页面">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>谛听机器人操作指南</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-10-14</span> <span>原文作者：谛听机器人</span></p>
				<div class="article-content">

					<!--文章开始-->

					<h1>
	<span style="font-size: 12px;"><strong>一、注册</strong><br>
	登录</span><a href="/" style="font-size: 12px;" target="_blank">www.ditingai.com</a><span style="font-size: 12px;">注册，如下图所示。</span>
					</h1>
					<h1>
						<img alt="" src="/static/images/new_img/new12_1.png" style="width: 256px;"  >&nbsp;<img alt="" src="/static/images/new_img/new12_2.png" style="width: 239px;"><br>
						<br>
						<span style="font-size: 12px;"><strong>二、启用机器人服务</strong></span><br>
						<span style="font-size:12px;">Ø <strong>启用Web机器人：</strong></span><span style="font-size:12px;">登录谛听平台<a href="/" target="_blank">www.ditingai.com</a>，点击页面上方的【我的机器人】即可进入web机器人聊天页面。</span><br>
						<img alt="" src="/static/images/new_img/new12_3.png" style="width: 554px;"  ><br>
						<span style="font-size: 12px;">Ø </span><strong style="font-size: 12px;">启用微信公众号机器人：</strong><span style="font-size: 12px;">登录</span><a href="http://www.ditingai.com/login_toLogin" style="font-size: 12px;">www.ditingai.com</a><span style="font-size: 12px;">，如下图依次点击页面上方的【接入与下载】、【+微信公众号】，使用公众号绑定的个人微信扫描页面显示的二维码，在手机上确认授权后即可。</span></h1>
					<h1>
						<img alt="" src="/static/images/new_img/new12_4.png" style="font-size: 12px; width: 453px;"  ></h1>
					<h1>
						<img alt="" src="/static/images/new_img/new12_5.png" style="width: 195px;"  ><img alt="" src="/static/images/new_img/new12_6.png" style="width: 265px;"  ><br>
						<br>
						<span style="font-size: 12px;"><strong>三、如何添加机器人问答</strong></span><br>
						<span style="font-size: 12px;">1、登录</span><a href="/" style="font-size: 12px;" target="_blank">www.ditingai.com</a><span style="font-size: 12px;">，点击页面上方的【机器人定制】，</span><span style="font-size: 12px;">选择页面左侧边栏的【知识库学习】，点击【添加问题】即可进行单条知识添加，填写问题和答案，点击保存即可。详见下图：<br>
	<img alt="" src="/static/images/new_img/new12_7.png" style="width: 453px;"  ></span><br>
						<img alt="" src="/static/images/new_img/new12_8.png" style="font-size: 12px; width: 453px;"  ></h1>
					<h1>
						<span style="font-size: 12px;">2、选择页面左侧边栏的【知识库学习】，点击【模板下载】下载并打开EXCEL模板，编辑好问题和答案后记得要点击保存哦！</span></h1>
					<h1>
						<img alt="" src="/static/images/new_img/new12_9.png" style="width: 453px;"  ></h1>
					<h1>
						<img alt="" src="/static/images/new_img/new12_10.png" style="font-size: 12px; width: 453px;"  ><br>
						<span style="font-size: 12px;">3、点击【导入数据】，选择文档所在的正确位置，将保存好的表格上传到谛听平台即可。</span><br>
						<img alt="" src="/static/images/new_img/new12_11.png" style="width: 453px;"  ></h1>
					<h1>
						<span style="font-size: 12px;"><img alt="" src="/static/images/new_img/new12_12.png" style="width: 453px;"  ></span></h1>
					<h1>
						<br>
						<span style="font-size: 12px;">下面让我们来看看设置完成后的效果吧！！！</span><br>
						<strong style="font-size: 12px;"><img alt="" src="/static/images/new_img/new12_13.png" style="width: 350px;"  ></strong><br>
						<span style="font-size: 12px;">接下来您要做的，就是把自己的机器人分享给好友进行对话啦！</span><br>
						<br>
						<span style="font-size: 12px;"><strong>四、联系我们</strong></span><br>
						<span style="font-size: 12px;">若还有任何疑问，您可以通过以下方式咨询谛听机器人工作人员哦！</span><br>
						<span style="font-size: 12px;">官方QQ群号：10232039&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;热线电话：400-900-3381</span><br>
						<span style="font-size: 12px;">官方客服微信号：</span></h1>
					<h1>
						<img alt="" src="/static/images/new_img/new12_14.png" style="width: 200px;"></h1>

					<div class="source">原文来自：
						<a class="link-main" href="/new0">admin</a>
					</div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new13">问答知识库建设说明</a> </span> 上一篇：
						<a href="/new6">谛听机器人举办“壕气年中奖·红包享不停”活动</a>
					</div>

					<!--文章结束-->
				</div>
{% endblock %}