{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>服务机器人发展迅猛，语义和逻辑能力成重点_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="服务,机器人,发展,迅猛,语义,逻辑,能力,重点">
	<meta name="description" content="1910年，捷克斯洛伐克作家卡雷尔在他的科幻作品中第一次提到机器人这一词语，是世界首次。第二年，西屋电器就制造出了世界上第一台机器人，之后，分别于1954年和1959年诞生了世界第一台可编程机器人和工业机器人">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>服务机器人发展迅猛，语义和逻辑能力成重点</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-07-12</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->
					<span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size: 14px;">1910年，捷克斯洛伐克作家卡雷尔在他的科幻作品中第一次提到“机器人”这一词语，是世界首次。第二年，西屋电器就制造出了世界上第一台机器人，之后，分别于1954年和1959年诞生了世界上第一台可编程机器人和工业机器人，直到上个世纪末，随着传感和运算技术的突破，智能机器人进入孕育期。 </span></span><br>
					<br>
					<div style="text-align: center;">
						<span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size: 14px;"><img alt="" src="/static/images/new_img/new2_1.jpg" style="width: 640px; height: 320px;" data-bd-imgshare-binded="1"></span></span><br>
						&nbsp;</div>
<span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size: 14px;">国内智能机器人产业的爆发还是最近几年的事情，但是也取得了空前的发展。《中国机器人产业白皮书》显示，2015年国产自主品牌工业机器人占我国市场份额首次突破30%，并且工业机器人市场规模保持世界第一。<br>
<br>
同时，记者也了解到，与工业机器人相对应的服务机器人，国内品牌和国外品牌还有一定差距，但也诞生了类似谛听机器人这样的拥有世界领先技术的品牌。服务机器人可以将知识型工作者从重复性、规律性强的工作中解放出来，让知识型工作者集中精力从事复杂性和创造性更强的工作，进一步释放知识型工作者的创造潜力。<br>
&nbsp;&nbsp;&nbsp;<br>
比如WellPoint公司和IBM公司联合推出的“临床肿瘤学顾问”能够通过对数据库进行分析，为医生临床治疗提出宝贵建议。国内的谛听机器人致力于自然语言理解技术(NLU)的创新与应用，在大数据信息挖掘与分析、智能问答、智能搜索、知识管理等领域为用户提供服务，并已在众多企业广泛应用。<br>
<br>
尽管如此，服务机器人仍然还有很长的路要走。其中有几个需要重点解决的问题，包括语言交流功能更加完美，就是语义分析能力;逻辑功能需要更强大;更遥远的功能，比如基于自我判断的复原能力。在自然语言理解领域有着超过15年经验的谛听机器人的目标就是“让机器人更加理解人类”，证明国内企业已经开始着力于解决此类问题。<br>
<br>
有专家撰文称：“大数据、物联网、人工智能等信息技术的融合发展使机器人技术日趋成熟，成本不断降低，性能不断提升。‘机器人革命’有望成为‘第三次工业革命’的一个切入点和重要增长点，并对全球制造业、服务业格局产生重大影响。”人工智能的发展现状使我们完全可以相信这一预测，但是需要更多类似谛听机器人一样的企业能够保持创新，并在更多的可能领域进行探索。</span></span>


					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new1">谛听科技：致力于人机交互的流畅化</a> </span> 上一篇：<a href="/new3">谛听机器人:人工智能将迎来语义理解新时代</a>  </div>
					<!--文章结束-->
				</div>

{% endblock %}