{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>谛听机器人举办“壕气年中奖·红包享不停”活动_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="谛听,机器人,2016年,7月,举办,壕气年中奖,">
	<meta name="description" content="2016年7月13日00:00-7月31日24:00期间，谛听机器人举办7月活动壕气年中奖红包享不停，详情如下： 活动内容 【Activity Content】 1、凡用户在活动期间，完成新增有效问答300句，即可获得10元">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>谛听机器人举办“壕气年中奖·红包享不停”活动</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-07-12</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->
        	 <span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;"><span>2016年7月13日00:00-7月31日24:00期间，谛听机器人举办7月活动“壕气年中奖·红包享不停”，详情如下：<br>
<br>
一、活动内容：</span><br>
1、凡用户在活动期间，完成新增有效问答300句，即可获得10元话费奖励<br>
2、对全体用户在活动期间的新增有效问答进行排名，前十名依次获得现金奖励（1-2名各1000元，3-5名各500元，6-10名各300元）<br>
<br>
二、参与方式：<br>
登录谛听机器人官方平台：www.ditingai.com<br>
注册并建立自己的机器人知识库，分享给好友进行有效问答<br>
PS：建议使用PC端登录哦！<br>
<br>
三、活动说明：<br>
1、话费奖励仅限注册手机号码充值<br>
2、话费奖励将于用户满足获得标准后的3个工作日内安排发放<br>
3、话费奖励限量500份，用户不可重复获得；本次活动奖励数量有限，先到先得<br>
4、对于恶意刷奖行为，谛听机器人有权取消用户参与及领奖资格，并保留相关法律权利。本活动最终解释权归谛听机器人所有<img alt="" src="/static/images/new_img/new6_1.png" style="width: 678px; height: 333px;"></span></span><br>

					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new12">谛听机器人操作指南</a> </span> 上一篇：<a href="/new5">热烈庆祝谛听机器人荣膺中国人工智能学会企业</a>  </div>
					<!--文章结束-->
				</div>
{% endblock %}