{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>头条｜围观谛听出品的机器人大咖Show_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="今日,头条,围观,谛听,出品,的,机器,人大,咖,">
	<meta name="description" content="自谛听机器人上线以来，受到广大用户的大力支持！今天就来给大家推荐几家由谛听出品的机器人大咖~ 1、谛听机器人服务号（ ditingrobo1 ）">
{% endblock %}

{% block article %}
				<!--文章标题-->
				<h1>头条｜围观谛听出品的机器人大咖Show</h1>
				<!--文章属性-->
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-08-04</span> <span>原文作者：谛听机器人运营部</span></p>
				<div class="article-content">

					<!--文章开始-->

					自谛听机器人上线以来，受到广大用户的大力支持！<br>
					今天就来给大家推荐几家由谛听出品的机器人大咖~<br>
					<br>
					<strong>1、谛听机器人服务号（</strong><strong>ditingrobo1</strong><strong>）</strong><br>
					<img alt="" src="/static/images/new_img/new9_1.jpg" style="width: 258px; height: 258px;"  ><br>
					<a href="/robot-company/7818c7f73c31468ca03c63b7375994b9" target="_blank">http://www.ditingai.com/robot-company/7818c7f73c31468ca03c63b7375994b9</a><br>
					<br>
					<strong>2、机器人汪汪</strong><br>
					<img alt="" height="245" src="/static/images/new_img/new9_2.jpg" width="245"  ><br>
					<a href="/robot-company/89fc36ea57554dabb6784749b1625fd7" target="_blank">http://www.ditingai.com/robot-company/89fc36ea57554dabb6784749b1625fd7</a><br>
					<br>
					<strong>3、西安生活（</strong><strong>xiandongwuyuan</strong><strong>）</strong><br>
					<img alt="" height="241" src="/static/images/new_img/new9_3.jpg" width="241"  ><br>
					<a href="/robot-company/1b5ba5c4b80640a7966d38fdd4c4427c" target="_blank">http://www.ditingai.com/robot-company/1b5ba5c4b80640a7966d38fdd4c4427c</a><br>
					<br>
					4、好辣（haola_）<br>
					<img alt="" height="229" src="/static/images/new_img/new9_4.jpg" width="223"  ><br>
					<a href="/robot-company/b72d764a2b204e00b4cd4eb66e38cc45" target="_blank">http://www.ditingai.com/robot-company/b72d764a2b204e00b4cd4eb66e38cc45</a><br>
					<br>
					5、西安文博文化传播有限公司（sheji-bing）<br>
					<img alt="" height="210" src="/static/images/new_img/new9_5.jpg" width="210"  ><br>
					<a href="/robot-company/f2018fda96ad4555a46f9dad29a8096f" target="_blank">http://www.ditingai.com/robot-company/f2018fda96ad4555a46f9dad29a8096f</a><br>
					<br>
					北京谛听机器人科技有限公司是一家专业从事自然语言处理的科技企业，目前已建成问答机器人开放平台，可以让每个企业轻松建立自己的问答机器人，用于替代客服、咨询、销售等业务。<br>
					<br>
					如果你也想拥有一款这样的机器人，赶紧来谛听机器人官方平台www.ditingai.com给自己注册一个吧！
					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div> <span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new10">谛听举办“劲爆八月•春晚机器人任性送”活动</a> </span> 上一篇：<a href="/new8">“壕气年中奖•红包享不停”7月活动发奖公告</a>  </div>

					<!--文章结束-->
				</div>
{% endblock %}