{% extends "web/diting_news/ditingNew_layout.html" %}
{% block head %}
	<title>问答知识库建设说明_谛听机器人|北京谛听机器人科技有限公司</title>
	<meta name="keywords" content="知识库,问答建设,谛听机器人">
	<meta name="description" content="本文主要讲述谛听机器人知识库维护建设">
{% endblock %}

{% block article %}
				<h1>问答知识库建设说明</h1>
				<p class="note"><span>文章分类：<a class="link-main" href="/new0">新闻资讯</a></span> <span>发布时间:2016-10-14</span> <span>原文作者：谛听机器人</span></p>
				<div class="article-content">
					<img alt="" src="/static/images/new_img/new13_1.jpg" style="width: 640px;"/><br>
					<img alt="" src="/static/images/new_img/new13_2.jpg" style="width: 640px;"/><br>
					<img alt="" src="/static/images/new_img/new13_3.jpg" style="width: 640px;"/><br>
					<img alt="" src="/static/images/new_img/new13_4.jpg" style="width: 640px;"/><br>
					<div class="source">原文来自：<a class="link-main" href="/new0">admin</a></div>
					<div>
						<span style="float:right;width: 54%;">&nbsp;&nbsp;下一篇：<a href="/new7">谛听机器人在7•24上海松江机器人投融资路演大赛</a> </span>
						上一篇：<a href="/new12">谛听机器人操作指南</a>
					</div>
				</div>
{% endblock %}