{% extends "web/phone/layout_phone.html" %}
{% block title %}
<title>谛听客服机器人--找回密码</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/lib/iconfont.css{{ _suffix_ }}" />
<link rel="stylesheet" type="text/css" href="/static/css/phone/login_phoneStyle.css{{ _suffix_ }}"/>
<script type="text/javascript" src="/static/js/register.js{{ _suffix_ }}"></script>
<script type="text/javascript">
    window.onload = function () {
        $('.code_send0').val(textCode0())


    }
</script>
{% endblock %}
{% block mainnofooter %}
<div style="height: 10.1rem;width: 100%;background: #fff">
    <div style="background: #333;color: #fff;line-height: 0.76rem;font-size: 0.3rem;padding:0.1rem 0.3rem;text-align: left;margin-bottom: 0.2rem;"> 找回密码 </div>

        <div class="reg_input">
            <div class="_input" style=" margin: 0.22rem auto;border-bottom: 1px solid #999;width: 5.4rem;">
                <span class="i_S" style="color: #000">+86</span>
                <input type="text" placeholder="手机号码" name="USERNAME" id="phone" value="" required="required" maxlength="11" onblur="oPhonetest()" style="width: 4rem;border: none; color: #000;">
                <i class="phone_i">请输入正确手机号</i>
            </div>
            <div class="_input" style="margin: 0.22rem auto;border-bottom: 1px solid #999;width: 5.4rem;">
                <span style=" width: 0.5rem; height: 0.5rem;display: inline-block;background: url(/static/images/antusheng/phone/antusheng_JYM1.png) no-repeat 0.05rem; background-size: 0.4rem; margin: 0.1rem;"></span>

                <input type="text" class="_input3" placeholder="校正码" value="" name="txcode" id="txcode"
                       required="required" maxlength="4" style="border: none; color: #000;"> <input  style="right: 0rem;margin: 0.07rem 0.05rem 0 0;" type="button" id="btnTxCode" class="code_send0" onclick="textCode0(this);"/>
                <i class="txcode_i">请先正确填写验证码</i>
            </div>
            <div class="_input" style="margin: 0.22rem auto;border-bottom: 1px solid #999;width: 5.4rem;">
                <span style=" width: 0.5rem; height: 0.5rem;display: inline-block;background: url(/static/images/antusheng/phone/antusheng_DX1.png) no-repeat 0.05rem; background-size: 0.4rem; margin: 0.1rem;"></span>

                <input type="text" class="_input3" placeholder="验证码" value="" name="telcode" id="telcode"
                       required="required" maxlength="20"  style="border: none; color: #000;"> <input style="right: 0rem;margin: 0.07rem 0.05rem 0 0;" value="发送验证码" type="button" id="btnCode" class="_send" onclick="code_if_change();"/>
            </div>

            <div class="_input password"  style="margin: 0.22rem auto;border-bottom: 1px solid #999;width: 5.4rem;">
                <span style=" width: 0.5rem; height: 0.5rem;display: inline-block;background: url(/static/images/antusheng/phone/antusheng_PWD1.png) no-repeat 0.05rem; background-size: 0.4rem; margin: 0.1rem;"></span>

                <input type="password" placeholder="6~16位密码,区分大小写" name="PASSWORD" value="" id="pwd" required="required"
                       maxlength="16" style="width: 4rem;border: none; color: #000;">
                <i class="pwd_i" >6~16位密码,区分大小写</i>
            </div>
            <div class="_input"  style="margin: 0.22rem auto;border-bottom: 1px solid #999;width: 5.4rem;">
                <span style=" width: 0.5rem; height: 0.5rem;display: inline-block;background: url(/static/images/antusheng/phone/antusheng_PWD1.png) no-repeat 0.05rem; background-size: 0.4rem; margin: 0.1rem;"></span>

                <input type="password" placeholder="两次密码需要一致" name="requrePassword" value="" id="pwd2" required="required"
                       maxlength="16" style="width: 4rem;border: none; color: #000;">
                <i class="pwd2_i">两次密码需要一致</i>
            </div>
            <br/>
            <div  style="margin: auto ;width: 5.4rem; height: 0.8rem;">
                <input id="btn_reg0" style="width: 100%; height: 100%; background: #1ca4e8; color: #fff; font-size: 0.32rem;border: 0;border-radius: 0.1rem;"  type="button" onclick="save02()" value="确定"/>
            </div>
        </div>
</div>
<!--=============================================================================-->

{% endblock %}