{% extends "success_layout.html" %}
{% block style %}
<script type="text/javascript" src="/static/js/business_admin.js{{ _suffix_ }}"></script>
<link rel="stylesheet" href="/static/css/quesK-style.css{{ _suffix_ }}" />
		<style type="text/css">
			#business_admin {
				border: 1px solid #ccc;
				font-size: 14px;
				display: block;
				max-height: 417px;
				overflow-y: scroll;
				overflow-x: hidden;
				height:416px;
			}
			#business_admin th{
				background: #EFEFEF;
				text-align: center;
				border-right:1px solid #fff;
			}
			#business_admin td{
				text-align: center;
				border-right:1px solid #fff;
			}
			#business_admin tr{
				height: 30px;
			}
			#alldeletes{
				background: url(/static/images/del.png) no-repeat;
				border: none;
				border:2px solid #f9faf5;
				width:29px;
				height:29px;
			}
			#alldeletes:hover{
				border:2px solid #00c4c2;
			}
			.cz_btn input{
				width:29px;
				height:29px;
				background: url(/static/images/btn--1.png) no-repeat;
				border:2px solid #f9faf5;
			}
			.cz_btn input:hover{
				border:2px solid #00c4c2;
			}
		</style>
{% endblock %}

{% block main %}

<!--==内容区==============-->
	<div class="mains" style="width: 100%;">
		<div style="padding: 10px;">	
			<form id="form1" name="form1">

				<table style="width: 412px;float: left;">
					<tbody><tr>
						<td style="padding-left: 26px;">

								<span style="float: left;">开始日期:<input style="width: 100px;" class=" date-picker" type="text" id="startdate" name="startdate" readonly="readonly" value="">
								结束日期 :<input style="width: 100px;"  class=" date-picker" type="text" id="enddate" name="enddate" readonly="readonly" value=""></span>
							<img  style="float: left;margin: -4px 8px;cursor: pointer;" src="/static/images/search_tip.png" onclick="B_company()">

						</td>
					</tr>
					<tr style="">
						<td style="padding-left: 26px;padding-top: 10px">
							排序方式：<select name="timeOrDian" id="timeOrDian" onchange="B_company()">
							<option value="0">按注册时间排序</option>
							<option value="1">按剩余点数排序</option>
						</select>
							选择工作组：<select name="source" id="source" onchange="B_company()">
							<option value="0">不分组</option>
							<option value="1">1组</option>
							<option value="2">2组</option>
							<option value="3">3组</option>
							<option value="4">4组</option>
						</select>

						</td>
					</tr>
					</tbody></table>
				<div style="background: url(/static/images/search_input.png) no-repeat;width: 416px;height: 36px;float: right">
					<input id="companies_in" type="text" name="keywords" value="" placeholder="可以搜索手机号、公司名称或者邀请码！" style="border: none;width: 90%;height: 35px;line-height: 36px;background: none;padding-left: 20px;" onkeydown="enterB_company()"/>
					<img src="/static/images/search_tip.png"  style="vertical-align: middle;display: initial;cursor: pointer;float:right;margin: 5px;" onclick="B_company()">
				</div><div style="clear: both;"> </div>
				<br />
				<div style="display: none;">
					<input type="text" id="pageNo" value="" />
				</div>
				<table border="0" cellpadding="0" cellspacing="0" id="business_admin">

				</table>
				<div id="shopss" style="height: 41px;">
					<div class="cz_btn" style="float: left;margin-top: 10px;">

					</div>
					<div id="red" style="margin: 0;float:right;width: 900px;" class="pager red">
						<div class="btn disabled">First</div>
						<div class="btn disabled">Prev</div>
						<ul id="pages">
							<li>
								<a id="1" class="red normal active" href="javascript:void(0)">1</a>
							</li>
							<li>
								<a id="2" class="red normal" href="javascript:void(0)">2</a>
							</li>
							<li>
								<a id="3" class="red normal" href="javascript:void(0)">3</a>
							</li>
							<li>
								<a id="4" class="red normal" href="javascript:void(0)">4</a>
							</li>
						</ul>
						<div class="btn">Next</div>
						<div class="btn">Last</div>
						<div class="short"><input type="text"><input type="button" value="Go" class="btn"></div><span><b></b></span><span></span><span><b></b></span><span></span><span><b></b></span></div>
				</div>
			</form>
		</div>
	</div>
<div id="tanc"></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	window.onload=function () {
		csh_business() //初始化

		// <!--上面的日期搜索导出-->

		//日期框
		$('.date-picker').datepicker({autoclose: true,todayHighlight: true});


		$('input[name=enddate]').change(
				function() {
					var startDate = $("#startdate").val();
					var date1 = new Date(startDate);
					startDate=date1.getTime()

					var endDate = $("#enddate").val();
					var date2 = new Date(endDate);
					endDate=date2.getTime()
					if(endDate<startDate && endDate!=""){
						document.getElementById("enddate").value = "";
						layer.msg("开始日期大于结束日期，请您选择日期时小于结束日期");
					}
				});
		$('input[name=startdate]').change(function() {
			var startDate = $("#startdate").val();
			var date1 = new Date(startDate);
			startDate=date1.getTime()

			var endDate = $("#enddate").val();
			var date2 = new Date(endDate);
			endDate=date2.getTime()
			if(endDate==""){
				return true;
			}
			if(startDate>endDate){
				document.getElementById("startdate").value = "";
				layer.msg("开始日期大于结束日期，请您选择日期时小于结束日期");
			}
		});
	}
</script>
{% endblock %}