<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>导入数据库</title>
	<script type="text/javascript" src="/static/js/lib/jquery-2.2.3.min.js"></script>
	<link rel="stylesheet" href="/static/css/quesK-style.css{{ _suffix_ }}" />
</head>
<body>
<form >
	<div >
		<table style="width:95%;">
			<tbody>
			<tr>
				<td style="padding: 10px 20px;">
					<label>

									<span data-title="选择" style="position: absolute;top: 0;left: 0;right: 0;height: 30px;background-color: #ffffff;border: 1px solid #d5d5d5;cursor: pointer;"> <span class="glyphicon glyphicon-open" aria-hidden="true" style="font-size: 20px;margin: 3px;color: #777;">
										<input id="fileupload" type="file" name="files[]" data-url="/api/admin/upload"  accept=".xls,.xlsx" multiple >
									</span>
										<span style="display: inline-block;height: 28px;max-width: 80%;white-space: nowrap;overflow: hidden;line-height: 28px;color: #888888;font-size: 13px;vertical-align: top;position: static;" data-title="请选择EXCEL ...">

										请上传xls,或xlsx格式的文件</span>
									<span style="background: #0099CC;color: #fff;padding: 4px;top: 0px;position: absolute;right: 0;">选择</span></span>

					</label>
				</td>
			</tr>


			</tbody>
		</table>
	</div>
	<div id="zhongxin2" class="center" style="display:none;width: 100px;margin: 0 auto;"><br><img src="/static/images/loading.gif"><br>
		<h4 class="lighter block green"></h4></div>
	<div id="fl0" style="width: 80%;margin: 0 auto;color: red;"></div>
</form>
<div><a class="btn3" style="display: block;width: 80px;height: 31px;border-radius: 5px;background: #4898D5;line-height: 31px;text-align: center;margin: 0 auto;color: #fff;cursor: pointer;">关闭</a></div>
</body>

<script type="text/javascript" src="/static/js/lib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.fileupload.js"></script>
<script type="text/javascript">
	$('.btn3').click(function() {
//		parent.window.location.reload(false);
//			parent.history.go(0); //取消键刷新页面
	})
	$(function () {
		$('#fileupload').click(function () {
			$('#fl0').html("")
			$('#zhongxin2').css('display','block')
		});
		$('#fileupload').fileupload({
			dataType: 'json',
			done: function (e, data) {
				$.each(data.result.files, function (index, file) {
					$('<p/>').text(file.name).appendTo(document.body);
				});
				var data = JSON.parse(data.result);
				if( data.num == undefined){
					var str = '<p style="color: green;">'+ data.result +'</p>';
				}else {
					var str = '<p>'+ data.result +'</p><p>'+ data.num +'</p>';
				}
				$('#fl0').html(str);
				$('#zhongxin2').css('display','none')
			}
		});
	});
</script>

</html>