<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/static/images/favicon.ico">
		<title>谛听机器人开放平台——智联网的交互系统</title>
		<meta name="keywords" content="谛听机器人,语义理解,开放平台,自动应答程序,客服机器人,聊天机器人,陪伴机器人,问答机器人,招聘机器人,恋爱机器人,平行人,转角爱,AI,人工智能,彭军辉,机器人柳柳,小谛机器人">
		<meta name="description" content="谛听机器人开放平台能让每个用户通过注册获得自己的个性化问答机器人。该机器人可以捆绑在自己微信公众号，可以部署在WEB网站上，可以通过我们提供的API 进行二次开发接入各类软件或者APP。用户可以通过我们提供的管理后台增加和编辑机器人的问答知识，建设知识库，将机器人用于客服、销售、招聘等方面，机器人会自动按照用户添加的问题和答案回答FAQ提问。我们擅于做上下文处理，对语义的理解更加精准。">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/common-style.css" />
		<style type="text/css">
		
			html,body{width: 100%;}
			body{padding-bottom: 50px;}
			#dtx_header{height: 120px;width: 100%;background: #fff;}
			#logo{width: 242px;height: 63px;padding: 22px 0 0 30px;}
			#logo img{width: 100%;height: 100%;}
			.x_section_mid h2{font-size: 20px;text-align: center;height: 50px;line-height: 50px;font-weight: normal;color: #000;border-radius: 10px;margin-bottom: 10px;}
			.privacy {background-color: #eee;padding: 10px 20px;border-radius: 10px;}
			.privacy > div {font-size: 14px;padding: 10px 0;text-indent: 2em;}
			.privacy > h3 {font-size: 18px;font-weight: bold;color: #333;}
		</style>
	</head>
	<body>
		<header id="dtx_header">
			<div style="width: 1000px;height:100%;margin: 0 auto;position: relative;">
				<div id="logo">
					<a href="/"><img src="/static/images/logo3.png"></a><h1 style="position: relative;left: -9999px;">谛听机器人</h1>
				</div>
			</div>
		</header>
		<section style="width: 1100px;margin: -35px auto;">
		    <div style="width: 750px;margin: 10px auto 0;">
		            <dl class="x_section_mid">
		                <dt>
		                <h2>图灵测试活动方案</h2>
		                </dt>
		                <dd class="privacy">
		                    
		                    <h3>一、活动要素</h3>
		                    <div>
								活动时间：2016年12月1日-30日报名和内容建设，1月3-5日投票评选。<br/>
							</div>
							<div>
								合作媒体：《机器人技术与应用》、高工机器人、机器人库、IC咖啡。<br/>
							</div>
							<div>
								客服电话：400-9003381<br/>
							</div>
							<div>
								官方平台：<a href="http://www.ditingai.com" style="color: #00c4c2;">www.ditingai.com</a><br/>
							</div>
							<div>
								报名页面：<a href="http://www.hdb.com/party/wwvpb.html" target="_blank" style="color: #00c4c2;">http://www.hdb.com/party/wwvpb.html</a><br/>
		                    </div>
		                    <h3>二、活动内容</h3>
		                    <div>
								谛听机器人语义理解开放平台（<a href="http://www.ditingai.com" style="color: #00c4c2;">www.ditingai.com</a>）目前有近2000个企业用户，日活跃大于10％。用户在我们平台上建立问答机器人根本不用写代码，只要做简单设置即可，跟写微博一样简单。<br/>
							</div>
							<div>
								我们的机器人可以设置个性化对话、支持上下文处理。此次举办图灵测试比赛，投票选出的前10名机器人，奖励其所有者1000元人民币（税前），前三名额外奖励小乐机器人1台哦！<br/>
		                    </div>
		                    <div>
								<img src="/static/images/xiaole.png" />
		                    </div>

		                    <div>
								本活动免费报名参加，成功报名的用户可获得一个机器人账号（含免费赠送的使用费一年+对话数5万次+专业的机器人知识库建设指导私人订制一次+个人微信号机器人程序一套）。以上服务总价值不低于200元。当前人工智能是全社会关注的热点。大学毕业生参与我们活动有利于增加实践经验，找到人工智能方向的工作。<br/>
		                    </div>
		                   
		                    <h3>三、活动规则</h3>
		                    <div>
								通过活跃度（累计对话量）排名筛选出前50名进入投票环节。投票采取加权平均办法进行统计处理，具体加权系数为：活动报名者投票占80%（每个IP限投5票），除活动报名者之外的用户投票占20%（每个IP限投1票）。由大家集体公选出通过图灵测试的10款机器人，具体投票流程步骤如下：<br/><br/>进入活动页面→登录平台→在线投票<br/>

		                    </div>

		                    
		                    <h3>四、常见问答</h3>
		                    <div style="text-indent: 0;">
								1.没有机器人怎么办？<br/><br/>
								答：登录谛听机器人开放平台（<a href="http://www.ditingai.com" style="color: #00c4c2;">www.ditingai.com</a>）注册就可以获得一个问答机器人。<br/><br/>
								2.我可以参加吗？<br/><br/>
								答：谛听机器人开放平台的所有用户均可参与，现在注册也不晚哦。<br/><br/>
								3.注册你们平台以后怎么操作？<br/><br/>
								答：只要给机器人添加问题和答案，就能让你的机器人按照你添加的问题答案进行回答。<br/><br/>
								4.你们支持多问一答吗？<br/><br/>
								答：支持的。比如“你们公司在哪里”“你们在哪里”“你公司在哪里”“贵公司在哪里”，这些我们机器人都认为是一个意思，只要添加其中一个问题就行。<br/><br/>
								5.你们支持上下文处理吗？<br/><br/>
								答：支持的。<br/><br/>
								6.我可以批量导入知识吗？<br/><br/>
								答：支持的。<br/><br/>
								7.你们机器人能用到哪里？<br/><br/>
								答：个人微信号（需要从我们合作伙伴那里获得一个程序）、微信公众号、网站；还可以通过我们API接入安卓客户端和硬件机器人。<br/><br/>
								8.你们机器人免费吗？<br/><br/>
								答：目前可以免费试用500次对话。<br/><br/>
								9.你们平台怎么收费的？<br/><br/>
								答：一年299元服务费，含5万次对话。超出部分一次0.20元，超出部分可以选择不同的计费包。<br/><br/>
								10.什么是图灵测试？<br/><br/>
								答：英国数学家阿伦图灵1950年提出了一个测试标准，来判断电脑能否被认为是“能思考”。这个测试被称为图灵测试，现在已被多数人承认。要分辨一个想法是“自创”的思想还是精心设计的“模仿”是非常难的，任何自创思想的证据都可以被否决。图灵试图解决长久以来关于如何定义思考的哲学争论，他提出一个虽然主观但可操作的标准：如果一台电脑表现（act）、反应（react）和互相作用（interact）都和有意识的个体一样，那么它就应该被认为是有意识的。消除人类中心的偏见，图灵设计了一种“模仿游戏”即现在说的图灵测试：远处的人类测试者在一段规定的时间内，根据两个实体对他提出的各种问题的反应来判断是人类还是电脑。通过一系列这样的测试，从电脑被误判断为人的几率就可以测出电脑智能的成功程度。<br/><br/>
								11.如何确定参与资格？<br/><br/>
								答：所有参与人员必须在这里报名。随后我们工作人员会电话联系报名人员确认参赛资格。没有在这里报名或者电话联系后确认不具备资格的，都不能参加最终测评。<br/><br/>
								12.我是小学生可以参与吗？<br/><br/>
								答：可以的。不限年龄不限学历，只要能操作我们机器人后台就行。在我们机器人管理后台添加问题和答案，就可以教会机器人回答问题。<br/><br/>
								13.怎么参与？<br/><br/>
								答：在我们平台注册机器人后，填写问题和答案，教给机器人知识。然后测试回答的准确性。对机器人不会回答的问题及时添加。可以找朋友一起参加，一起测试。<br/><br/>
								14.可以组队参与吗？<br/><br/>
								答：可以的。可以几个人共同维护一个账号。组队参加只要一个人在这里报名就好。评测是按照账号评测的。<br/><br/><br/><br/>

								<span style="color: #00c4c2;">本活动最终解释权归北京谛听机器人科技有限公司所有。</span><br/>




		                    </div>
		                </dd>
		            </dl>
		        </div>
		</section>
		
		
		
	</body>
</html>
