{% extends "web/layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/registerStyle.css{{ _suffix_ }}"/>
<script type="text/javascript" src="/static/js/register.js{{ _suffix_ }}"></script>
<script type="text/javascript">
    window.onload = function () {
        textCode0( $('.code_send0'))
// 然后调用getParameter 方法:
        var temp = getParameter("yaoqingma");
        $('#InvitationR').val(temp);
        if( $('#InvitationR').val()!=""){
            $('#InvitationK').css("display","block")
        }else {
            $('#InvitationK').css("display","none")
        }
    }
</script>
{% endblock %}
{% block main %}
<div class="login_logo" style="margin-top: 40px">
    <a href="/"><img src="/static/images/login_logonew.png"/></a>

    <h1 style="position: relative;left: -9999px;">谛听机器人</h1>
</div>
<!--表单验证-->
<form >
    <div class="reg_input" style="padding-bottom: 50px;margin-top: 30px;">
        <div class="_input">
            <input type="text" placeholder="手机号码" name="USERNAME" id="phone" value="" required="required"
                   maxlength="11" onblur="oPhonetest()">
            <i class="phone_i">请输入正确手机号</i>
        </div>
        <div class="_input">
            <input type="password" placeholder="6~16位密码,区分大小写" name="PASSWORD" value="" id="pwd" required="required"
                   maxlength="16">
            <i class="pwd_i" >6~16位密码,区分大小写</i>
        </div>

        <div class="_input">
            <input type="password" placeholder="确认密码" name="requrePassword" value="" id="pwd2" required="required"
                   maxlength="16">
            <i class="pwd2_i">两次密码需要一致</i>
        </div>

        <div class="txCode">
            <input type="text" class="_input2" placeholder="验证码" value="" name="txcode" id="txcode"
                   required="required" maxlength="4"> <input type="button" id="btnTxCode" class="code_send0" onclick="textCode0(this);"/>
            <i class="txcode_i">&nbsp;&nbsp;请先正确填写验证码</i>
        </div>


        <div class="dxCode">
            <input type="text" class="_input2" placeholder="短信验证码" value="" name="telcode" id="telcode"
                   required="required" maxlength="20"> <input type="button" value="发送验证码" id="btnCode" class="_send" onclick="code_if();"/>
        </div>
        <div class="_input" id="InvitationK">
            <input type="text" placeholder="请输入邀请码（选填）" name="Invitation" value="" id="InvitationR" maxlength="14" readonly="readonly"/>
        </div>

        <div class="protocol">
            <input style="float: left;width: 14px;" type="checkbox" checked="checked" data="unselected" id="checkbox" alt="selected"/>
           <span style="float: left;"> 同意相关<a href="/agreement" target="_blank">协议</a>内容</span><span style="margin-left:80px ;">已有账号去<a
                href="/login">登录</a></span>
        </div>
        <div class="_input_nobg" style="margin-top: 5px;">
            <input id="btn_reg0" type="button" onclick="save01()" value="确认"/>
        </div>
    </div>
</form>
{% endblock %}